*
  margin :0px
  padding :0px
li
  list-style :none
a
  text-decoration :none

.interval
  width :100%
  height: .36rem
  background-color :rgb(243,245,247)
  border-top:1px solid rgb(233,234,235)
  border-bottom:1px solid rgb(233,234,235)

border-1px($color)
  position:relative
  &:after
    position :absolute
    left :0
    bottom:0
    border-bottom :1px solid $color
    width :100%
    content :''
    display :block

bg-img($url)
  background-image :url($url+"@2x.png")
  @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
    background-image :url($url+ "@3x.png")
