.discount-wrapper
  position absolute
  z-index 999
  left 0
  top 0
  background-color rgba(7,17,27,.8)
  padding 1.28rem .72rem .64rem .72rem
  color white
  .title
    text-align center
    font-size .32rem
    font-weight bold
    line-height 1
    .name
      margin-bottom .32rem
  .discountInformation
    margin .56rem 0
    .header
      display flex
      align-items center
      .line
        width 34%
        border-1px(rgba(255,255,255,.2))
      p
        font-size .28rem
        font-weight 700
        color rgb(255,255,255)
        line-height 1
        margin 0 .24rem
    .content
      margin-top .48rem
      li
        font-size .24rem
        font-weight 200
        color rgb(255,255,255)
        line-height 1
        margin .24rem .24rem 0 .24rem
        display flex
        span
          display block
          width .32rem
          height .32rem
          background-size .32rem .32rem
          background-repeat no-repeat
          margin-right .12rem
          &.decrease
            bg-img("../../assets/image/decrease_1")
          &.discount
            bg-img("../../assets/image/discount_1")
          &.invoice
            bg-img("../../assets/image/invoice_1")
          &.guarantee
            bg-img("../../assets/image/guarantee_1")
          &.special
            bg-img("../../assets/image/special_1")
  .announcement
    .header
      display flex
      align-items center
      .line
        width 34%
        border-1px(rgba(255,255,255,.2))
      p
        font-size .28rem
        font-weight 700
        line-height 1
        margin 0 .24rem
    .content
      font-size .24rem
      line-height 2
      font-weight 200
      color rgb(255,255,255)
      margin .48rem .24rem 0 .24rem
  .close
    position fixed
    bottom .64rem
    left 45%
    span
      font-size .64rem
      color rgba(255,255,255,.5)
