.ratings-wrapper
  position absolute
  bottom -9.6rem
  overflow hidden
  top 3.72rem
  width 100%
  .scores
    display flex
    padding .36rem .48rem
    .orange
      color rgb(255,153,0)
    .gray
      color rgb(147,153,159)
    .compare
      text-align center
      position relative
      padding-right .48rem
      border-right 1px solid rgba(7,17,27,.1)
      p:first-child
        font-size .48rem
        color rgb(255,153,0)
      p:nth-child(2)
        font-size .24rem
        color rgb(7,17,27)
        line-height 1
        margin .12rem 0 .16rem
      p:last-child
        font-size .2rem
        color rgb(147,153,159)
    .scoreDetail
      padding-left .48rem
      >li
        display flex
        font-size .24rem
        line-height 1.5
        &:nth-child(2)
          margin .16rem 0
        >p
          margin-right .12rem
  .content
    .addLine
      border-bottom 1px solid rgba(7,17,27,.1)
    .customer-remark
      margin 0 .36rem
      .remarkItem
        padding .36rem 0 .36rem .8rem
        border-1px(rgba(7,17,27,.1))
        position relative
        .avtor
          position absolute
          left 0
          width .56rem
          height .56rem
          border-radius 50%
          border 1px solid red
        .right
          .baseInfor
            display flex
            justify-content space-between
            font-size .2rem
            color rgb(147,153,159)
            .leftBase
              div
                display flex
                justify-content center
                margin .06rem 0 .12rem
          .text
            font-size .24rem
            color rgb(7,17,27)
          .review
            display flex
            align-items center
            margin-top .16rem
            span
              font-size .24rem
              margin-right .16rem
              &.icon-thumb_up
                color rgb(0,160,220)
              &.icon-thumb_down
                color rgb(183,187,191)
            .reviewItem
              padding .06rem .12rem
              margin-right .16rem
              border 1px solid rgba(7,17,27,.1)
              border-radius 4px
