.shoppingCar
  position :fixed
  left :0
  bottom :0
  width :100%
  height :1.08rem
  background-color :#141d27
  display :flex
  align-items :center
  z-index:888
  .total
    width :100%
    display :flex
    align-items :center
    .car-box
      position :relative
      .bg-car
        width :1rem
        height :1rem
        background-color :#141d27
        margin :-.48rem .36rem 0 .36rem
        border-radius :50%
      .car
        position:absolute
        left:.45rem
        top:-.24rem
        width :.8rem
        height :.8rem
        text-align :center
        line-height :.8rem
        font-size:.48rem
        background-color :rgba(0,0,0,.2)
        color:rgba(255,255,255,.4)
        border-radius :50%
        .count
          position :absolute
          right :-.1rem
          top:-.2rem
          display :block
          padding :0 .12rem
          border-radius :38%
          font-size:.18rem
          font-weight :700
          background-color :rgb(240,20,20)
          color:rgb(255,255,255)
          line-height :1.5
      .active
        background-color:rgb(0,160,220)
        color:rgb(255,255,255)
    .totalMoney
      font-size:.32rem
      font-weight:700
      color:rgba(255,255,255,.4)
    .line
      width :1px
      height :.6rem
      background-color :rgba(255,255,255,.1)
      margin :0 .24rem
    .distribution
      font-size:.24rem
      font-weight :200
      color:rgba(255,255,255,.4)
  .startSend
    width :2.1rem
    background-color :rgb(43,51,59)
    p
      font-size:.28rem
      color:rgba(255,255,255,.4)
      width :100%
      line-height :1.08rem
      text-align :center
.carDetail
  position :fixed
  left :0
  bottom :1.08rem
  width :100%
  z-index:99
  >div
    display :flex
    justify-content :space-between
    height :.8rem
    line-height :.8rem
    padding :0 .36rem
    background-color :#f3f5f7
    font-size:.28rem
    color:rgb(7,17,27)
    .empty
      font-size:.24rem
      color:rgb(0,160,200)
  .goodsList
    background-color :white
    .goodsItem
      display :flex
      justify-content :space-between
      align-items :center
      font-size:.28rem
      padding :.24rem 0
      margin :0 .36rem
      border-1px(rgba(7,17,27,.1))
.mask
  width :100%
  height: 100%
  position :fixed
  left :0
  top:0
  background-color :rgba(7,17,27,.6)
